
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');


.font-christmas {
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
}

.font-largo {
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}